<%- include('./head.sub.ejs', {data: data._data.headSub, sharedData}) %>

<!-- 상단 시작 { -->
<div id="hd">
  <h1 id="hd_h1"><%= data.title %></h1>
  <div id="skip_to_container"><a href="#container">본문 바로가기</a></div>
  
  <%
    if(data._data.newWinInc) {
    //console.log(data._data)
  %>
  <%- include('./bbs/newwin.inc.ejs', {data: data._data.newWinInc}) %>
  <%
    }
  %>
  <div id="tnb">
    <div class="inner">
      <ul id="hd_qnb">
        <li><a href="/bbs/faq/">FAQ</a></li>
        <li><a href="/bbs/qalist/">Q&A</a></li>
        <li><a href="/bbs/new/">새글</a></li>
        <li><a href="/bbs/current_connect/" class="visit">접속자<strong class="visit-num"><?php echo connect(); // 현재 접속자수, 테마의 스킨을 사용하려면 스킨을 theme/basic 과 같이 지정 ?></strong></a></li>
