<%- include('./head.sub.ejs', {data: data.data.headSub, sharedData}) %>

<!-- 상단 시작 { -->
<div id="hd">
  <h1 id="hd_h1"><%= sharedData.title %></h1>
  <div id="skip_to_container"><a href="#container">본문 바로가기</a></div>
